
.FlexGrid {
  display: flex;
  flex-wrap: wrap;

  &.FlexGrid--full {
    width: 100%;
  }

  &.FlexGrid--spaceBetween {
    justify-content: space-between;
  }

  &.FlexGrid--fullHeight {
    height: 100%;
  }

  &.FlexGrid--guttersOneDown {
    margin-left: -$scale-one-down;
  }

  &.FlexGrid--guttersOneDown > .FlexGrid-cell {
    padding-left: $scale-one-down;
  }

  &.FlexGrid--alignItemsCenter {
    align-items: center;
  }

  &.FlexGrid--reverse {
    flex-direction: row-reverse;
  }

  &.FlexGrid--inline {
    display: inline-flex;
  }
}

.FlexGrid-cell {

  flex: 1;

  &.FlexGrid-cell--autoSize {
    flex: none;
  }

  &.FlexGrid-cell--full {
    flex: 0 0 100%;
  }

  &.FlexGrid-cell--flex {
    display: flex;
  }

  &.FlexGrid-cell--fullMinusNav {
    height: calc(100vh - 44px);
  }

  &.FlexGrid-cell--nav {
    height: 44px;
  }

  &.FlexGrid-cell--alignCenter {
    align-items: center;
    justify-content: center;
  }

  &.FlexGrid-cell--alignSelfCenter {
    align-self: center;
  }

  &.FlexGrid-cell--pushRight {
    margin-left: auto;
  }

  &.FlexGrid-cell--alignItemsCenter {
    align-items: center;
  }

  &.FlexGrid-cell--9of10 {
    flex: 0 0 90%;
  }

  &.FlexGrid-cell--1of10 {
    flex: 0 0 10%;
  }
}

.Flex {
  display: flex;

  &.Flex--center {
    justify-content: center;
    align-items: center;
  }
}
