@media (min-width: #{$resize-point-1}) { // At this point I'm just gonna put everything on a single screen.

  body {
    background-color: $color-alabaster;
  }

  .Entries > .EmotionNote + .EmotionNote {
    margin-top: $scale-three-down;
  }

  // And the patterns screen takes up the other half.
  .Screen {
    margin-top: $navbar-height; // Making up for the navbar being at the top now.
    width: 50vw;
    min-height: calc(100vh - #{$navbar-height});
  }

  .App-container {

    width: 100%;
    
    &.moveLeft {
      transform: none;
      transition: none;
    }

  }

}
