$color-blue: #7F96FF;
$color-red: #FF331F;
$color-purple: #6F58C9;
$color-orange: #F7B267;
$color-green: #8ACB88;
$color-black: #0B0A07;
$color-brown: #54494B;
$color-pink: #FF4F79;

$color-oxfordBlue: #090446;
$color-pastelBrown: #786F52;
$color-rajah: #FEB95F;
$color-tractorRed: #F71735;
$color-pictoralCarmine: #C2095A;
$color-spanishCrimson: #E01A4F;
$color-smokyBlack: #0C090D;
$color-caribeenGreen: #03CEA4;
$color-chaliceSilver: #a0a0a0;


// Fonts
$font-family-serifRegular: "Plantin", "Times New Roman", Times, serif;
$font-family-serifItalic: "Plantin-Italic", "Times New Roman", Times, serif;
$font-family-serifBold: "Plantin-Bold", "Times New Roman", Times, serif;
$font-family-sansSerifRegular: 'Slate-Book', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sansSerifBold: 'Slate-Medium', "Helvetica Neue", Helvetica, Arial, sans-serif;

// Scale 1.272
$scale-two-up: 2.058075648rem;
$scale-two-up: 1.618rem;
$scale-one-up: 1.272rem;
$scale-default: 1rem;
$scale-one-down: 0.78616352201rem;
$scale-two-down: 0.61805308334rem;

// Misceleanosu Sizes
$size: calc(25vh - 11px);
$navbar-height: 44px;
$box-shadow-default: 4px 4px 12px rgba(0, 0, 0, 0.4);
