$color-oxfordBlue: #090446;
$color-pastelBrown: #786F52;
$color-rajah: #FEB95F;
$color-tractorRed: #F71735;
$color-pictoralCarmine: #C2095A;
$color-spanishCrimson: #E01A4F;
$color-smokyBlack: #0C090D;
$color-caribeenGreen: #03CEA4;

$font-family-lora: "Lora", "Times New Roman", serif;
