
.D\(b\) {
  display: block;
}

.Pstart\(default\) {
  padding-left: 1rem;
}

.Pend\(default\) {
  padding-right: 1rem;
}

.Ptop\(default\) {
  padding-top: 1rem;
}

.Pbottom\(default\) {
  padding-bottom: 1rem;
}

.C\(white\) {
  color: white;
}

.Ff\(default\) {
  font-family: $font-family-default;
}

.Fz\(u1\) {
  font-size: 1.618rem;
}

.Fz\(10vh\) {
  font-size: 10vh;
}

.Lh\(14\) {
  line-height: 1.4;
}

.Fw\(bold\) {
  font-weight: 700;
}

.Fs\(italic\) {
  font-style: italic;
}

.Ta\(c\) {
  text-align: center;
}

.Td\(u\) {
  text-decoration: underline;
}

.F\(left\) {
  float: left;
}

.W\(200vw\) {
  width: 200vw;
}

.W\(100vw\) {
  width: 100vw;
}

.H\(100\%\) {
  height: 100%;
}

.W\(100\%\) {
  width: 100%;
}

.Ox\(hidden\) {
  overflow-x: hidden;
}

.Oy\(hidden\) {
  overflow-y: hidden;
}

.Br\(default\) {
  border-right: 1px solid #252525;
}

.Bt\(default\) {
  border-top: 1px solid #252525;
}

.C\(p\) {
  cursor: pointer;
}
