$color-oxfordBlue: #090446;
$color-pastelBrown: #786F52;
$color-rajah: #FEB95F;
$color-tractorRed: #F71735;
$color-pictoralCarmine: #C2095A;
$color-spanishCrimson: #E01A4F;
$color-smokyBlack: #0C090D;
$color-caribeenGreen: #03CEA4;

$color-chaliceSilver: #a0a0a0;

$font-family-default: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Scale 1.272
$scale-two-up: 2.617924rem;
$scale-one-up: 1.618rem;
$scale-default: 1rem;
$scale-one-down: 0.618rem;
$scale-two-down: 0.618rem;
$scale-three-down: 0.48588598375rem;

// Misceleanosu Sizes
$size: calc(25vh - 11px);
